<%= form_with model: @item, local:true do |f| %>
<h4>ジャンル一覧・追加</h4>
  <div class="form_group">
    <labrl class="category">ジャンル名</labrl>
    <%= f.text_field :category %>
  </div>
  
  <h4>ジャンル</h4>
  <table class="table">
    <%= @category.each do |category| %>
    <tr>
      <th><%= category.name %></th>
      <th><%= link_to "編集", edit_admin_category_path %></th>
    </tr>
  </table>
  